@model HotelGame.WebMVC.Models.GamePlay.GetAllPlayerRoomsViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Users/Views/Shared/_UserLayout.cshtml";
}

@if (Model.CheckPlayerHotel == true)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Otel Macerasına Başla</h5>
            <p>İlk Otelini Eklemek İçin Oteline Bir İsim Ver !!!!</p>

            <!-- Vertically centered Modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                Ekle
            </button>
            <div class="modal fade" id="verticalycentered" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Lütfen Otel Adını Yaz</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3" asp-controller="Dashboard" asp-action="HotelCreater" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="col-12">
                                    <label for="inputName4" class="form-label">Otel Adı</label>
                                    <input asp-for="HotelName" id="Name" type="text" class="form-control" placeholder="Benim Güzel Otelim">
                                    <span asp-validation-for="HotelName" class="text-danger"></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                                    <button type="submit" class="btn btn-primary" value="Add">Oteli Oluştur</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="grid-container">
        @for (var i = 0; i < Model.PlayerRooms.Count; i++)
        {
            var room = Model.PlayerRooms[i];
            <div class="grid-item grid-item-@i" data-room-id="@room.Id">
                <a href="/Users/PlayerRoom/GetRoomDetail/@room.Id">
                    <img src="~/img/Floor.png" alt="Room Image" />
                    @if (room.PlayerRoomMaterials != null && room.PlayerRoomMaterials.Any())
                    {
                        foreach (var material in room.PlayerRoomMaterials)
                        {
                            @if (material.RMAirCondition != null)
                            {
                                @if (material.RMAirCondition.Level == 1)
                                {
                                    <img src="@material.RMAirCondition.ImageUrl" alt="Air Condition" class="klima" />
                                }
                                else
                                {
                                    <img src="@material.RMAirCondition.ImageUrl" alt="Air Condition" class="klima2" />
                                }
                                
                            }
                            @if (material.RMTelevision != null)
                            {
                                <img src="@material.RMTelevision.ImageUrl" alt="Television" class="tv" />
                                <img src="~/img/TV Unit.png" alt="Tv Unit" class="tvunit" />
                            }
                            @if (material.RMBed != null)
                            {
                                @if (room.RoomType.Name.Contains("Double"))
                                {
                                    @if (material.RMBed.Level == 1)
                                    {
                                        <img src="~/img/Double Bed/Double Bed 1.png" alt="Bed" class="yatak" />

                                    }
                                    @if (material.RMBed.Level == 2)
                                    {
                                        <img src="~/img/Double Bed/Double Bed 2.png" alt="Bed" class="yatak" />
                                    }
                                    @if (material.RMBed.Level == 3)
                                    {
                                        <img src="~/img/Double Bed/Double Bed 3.png" alt="Bed" class="yatak" />
                                    }
                                    @if (material.RMBed.Level == 4)
                                    {
                                        <img src="~/img/Double Bed/Double Bed 4.png" alt="Bed" class="yatak" />
                                    }
                                    @if (material.RMBed.Level == 5)
                                    {
                                        <img src="~/img/Double Bed/Double Bed 5.png" alt="Bed" class="yatak" />
                                    }
                                    @if (material.RMBed.Level == 6)
                                    {
                                        <img src="~/img/Double Bed/Double Bed 6.png" alt="Bed" class="yatak" />
                                    }

                                }
                                else if (room.RoomType.Name.Contains("Twin"))
                                {
                                    <img src="@material.RMBed.ImageUrl" alt="Bed" class="yatak2" />
                                    <img src="@material.RMBed.ImageUrl" alt="Bed" class="yatak" />
                                }
                                else
                                {
                                    <img src="@material.RMBed.ImageUrl" alt="Bed" class="yatak" />
                                }       
                            }
                            @if (material.RMBathRoom != null)
                            {
                                <img src="@material.RMBathRoom.ImageUrl"/>
                            }
                            @if (material.RMToilet != null)
                            {
                                <img src="@material.RMToilet.ImageUrl"/>
                            }
                            @if (material.RMCarpet != null)
                            {
                                <img src="@material.RMCarpet.ImageUrl"/>
                            }
                        }
                    }
                    else
                    {
                        <p>Bu odada henüz materyal yok.</p>
                    }
                    <span>
                        <text>@room.RoomType.Name</text>
                    </span>
                </a>
            </div>
        }
        <img src="~/img/right corridor.png" class="corridor-1" />
        <img src="~/img/right corridor.png" class="corridor-2" />
        <img src="~/img/Left Corridor.png" class="corridor-3" />
        <img src="~/img/Left Corridor.png" class="corridor-5" />
        <img src="~/img/Square Corridor.png" class="corridor-4" />
    </div>
}
